*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: rgb(224, 238, 255);
}
#navbar{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.form-inline{
    display: flex;
    justify-content: center;
    width: 100%;
}


#last-search{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:flex-start;
    margin-top: 1rem;
    width: 100%;
}

#clear-history{
    margin-right: auto;
}

.lastSearch-title{
    font-weight: 700;
    text-decoration: underline;
}
#last-search-cities{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;
    margin-left: 0;
    
}
li{
    list-style-type: none;
    padding: 0.1rem 0.5rem;
    margin: 0.2rem;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 0.3rem;
    font-size: 0.8rem;
    background-color: white;
    color: grey;
}

li:hover{
    cursor: pointer;
    box-shadow: 0 0 3px black;
    border: 1.5px solid blue;
}

main.container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    /* border: 1px solid blue; */
    /* border-radius: 2rem; */
}


main > div.row{
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
    width: 100%;
    padding: 0;
    /* border-radius: 2rem; */
}
#current-weather-col{
    text-align: center;
    border-radius: 2rem;
    margin: 0;
    max-width: 400px;
    padding: 1rem;
    box-shadow: 0 0 20px black;
}
aside.container{
    display: flex;
    justify-content: center;
}

div.row.forecast{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

div.col.forecast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 10px rgb(102, 102, 102);
    border-radius: 2rem;
    padding: 0.5rem 0.5rem;
}

h1.city-name{
    font-size: 200%;
    font-weight: 700;
    height: 2rem;
    margin-bottom: 0;
}

.current-date{
    font-weight: 500;
    border-bottom: 1px solid rgb(110, 168, 255);
}

#current-temp{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.current-temp{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 0;
    margin-bottom: 0;
}

.current-feel-like-temp{
    position: relative;
    top: -8px;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: lighter;
    border-bottom: 1px solid rgb(110, 168, 255);
}
#current-UV-index{
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
}

#current-weather-image{
    border-radius: 4rem;
    background-color: rgb(199, 223, 253);
    margin: 1rem;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    border-bottom: 1px solid grey;
    width: 100%;
}

h3{
    font-size: 0.9rem;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    position: relative;
    top: -5px;
}

#img-1, #img-2, #img-3, #img-4, #img-5 {
    background-color: rgb(226, 225, 225);
    border-radius: 2rem;
}

.condition-1,.condition-2,.condition-3,.condition-4,.condition-5{
    font-size: 0.8rem;
    color:grey;
    font-style: italic;
}

.temp-1,.temp-2,.temp-3,.temp-4,.temp-5{
    font-size: 1rem;
    font-weight: 600;
}

.humidity-1,.humidity-2,.humidity-3,.humidity-4,.humidity-5{
    font-size: 0.8rem;
}

.wind-1,.wind-2,.wind-3,.wind-4,.wind-5{
    font-size: 0.8rem;
}